@import "@/utils/typed"; 
.placeholder {
  @include typed(
    "TypeScript",
    "React",
    "Next.js",
    1, (caret-width: 2px, caret-space: 2px)
  );
}
.home{
  position: relative;
}

.home::before,
.home::after{
  content: "";
  position: absolute;
  opacity: .3;
  width:100px;
  height: 100vh;
  top: -50px;
  left: calc(50% - 50px);
  filter: blur(40px);
  z-index: -1;
}

.home::before{
  background-color: blue;
  animation: rotate 30s ease infinite;
}

.home::after{
  background-color: red;
  animation: rotate 30s ease reverse infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  .home::after,
  .home::before{
    width: 300px;
    left: calc(50% - 150px);
    filter: blur(80px);
  }
}