.home {
  position: relative;
}
.home::before,
.home::after {
  content: "";
  position: absolute;
  opacity: 0.7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: calc(50% - 100px);
  left: 0;
  filter: blur(50px);
  z-index: -1;
}

.home::before {
  background-color: #14adff;
  animation: animate-blue 20s linear infinite;
}

.home::after {
  background-color: #ff1a5f;
  animation: animate-red 20s linear infinite;
}

@keyframes animate-blue {
  0%,
  100% {
    left: calc(100% - 200px);
    transform: scale(1.5);
  }
  25% {
    transform: scale(2);
    z-index: -1;
  }
  75% {
    transform: scale(0.5);
    z-index: -2;
  }
  50% {
    left: 0%;
    transform: scale(1.5);
  }
}
@keyframes animate-red {
  0%,
  100% {
    left: 0%;
    transform: scale(1.5);
  }
  25% {
    transform: scale(0.5);
    z-index: -2;
  }
  75% {
    transform: scale(2);
    z-index: -1;
  }
  50% {
    left: calc(100% - 200px);
    transform: scale(1.5);
  }
}

@media screen and (max-width: 768px) {
  .home::after,
  .home::before {
    opacity: 0.6;
    animation-duration: 10s;
  }
}
