@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* This is the key part - add transition for all properties */
  transition: background-color 300ms ease, color 300ms ease;
}

.borderBlack {
  @apply border border-black/10;
}

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #111827;
    --card-background: #ffffff;
  }
  .dark {
    --background: #111827;
    --foreground: #f9fafb;
    --card-background: #1f2937;
  }
}