@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in, --background 0.1s ease-in, --foreground 0.1s ease-in, --primary 0.1s ease-in, --secondary 0.1s ease-in !important;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #111827;
    --card-background: #ffffff;
  }
  .dark {
    --background: #111827;
    --foreground: #f9fafb;
    --card-background: #1f2937;
  }
}